body {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}


.page-header {
    background-color: #ffffff; /* White background */
    border-bottom: 2px solid #000000; /* Black border at the bottom */
    padding: 10px; /* Add padding to the header */
    text-align: center; /* Center-align the text */
}

.page-header h1 {
    margin: 0; /* Remove default margin for h1 */
    color: #000000; /* Black text color */
}

.image-container {
    width: 90%; /* Adjust the width of the container */
    height: auto; /* Allow the height to adjust based on the image's aspect ratio */
    padding: 5%; /* Add pSadding to increase the distance from the website walls */
    box-sizing:content-box; /* Include padding in the total width */
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Display 3 pictures in a row */
    gap: 100px; /* Increased the gap between images */
    margin: 0 auto; /* Center the grid within the container */
}

.image-grid img {
    width: 100%; /* Images will take up 100% of the grid cell */
    height: auto;
    object-fit: cover; /* Maintain aspect ratio while covering the entire grid cell */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow to images */
    transition: transform 1s, margin 1s;
}
.image-grid img:hover {
    transform: scale(1.2); /* Increase the size of the image on hover */
    margin: -40px; /* Decrease the distance between images on hover */
}

.label-container {
    position: fixed; /* Position the container relative to the browser window */
    bottom: 3%; /* Align the bottom edge of the container with the bottom of the window */
    left: 50%; /* Initially center the container horizontally */
    transform: translateX(-50%); /* Adjust the position to center the container precisely */
    background-color: #ffffff; /* Background color for the container */
    color: rgb(0, 0, 0); /* Text color for the container */
    text-align: center; /* Center-align text within the container */
    padding: 20px; /* Padding around the content within the container */
    border: 2px solid #000000; /* Add a black border around the container */
    width: 20%; /* Set the width of the container (adjust as needed) */
    max-width: 600px; /* Set a maximum width for the container (adjust as needed) */
}

.label-container p {
    margin: 0 10px; /* Add margin to the paragraphs within the container */
}

